.form-note {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.form-note label {
    width: 100%;
    margin-bottom: 1rem;
}

.form-note textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.add-note-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    transition: transform 0.2s;
}

.add-note-button:hover {
    transform: scale(1.2);

}